@import url('https://fonts.googleapis.com/css2?family=Inter&family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Petit+Formal+Script&display=swap');

body{
    width: 100%;
    margin: 0px;
    background: url("/background.png");
}

header{
    width: 100%;
    height: 135px;
    background-image: url("/banniere.jpg");
    background-position: 50% 50%;
    background-size: cover;
    overflow: hidden;
}

.nav a{
    color: white;
    text-decoration: none;
}

#logo{
    height: 201px;
    position: relative;
    width: 217px;
}

#ellipse{
    background-color: #d9d9d9cc;
    border-radius: 86.98px/71.51px;
    height: 143px;
    margin-left: -70px;
    margin-top: -8px;
    position: absolute;
    transform: rotate(-23.58deg);
    width: 174px;
}

#logo img{
    z-index: 10;
    top: 0px;
    height: 110px;
    position:relative;
}

.nav{
    margin: 0px;
    position: absolute;
    top:47px;
    right: 50px;
    border-radius: 100px;
    opacity: 88%;
    color: white;
}

.nav #decouverte {
    background-color: #BC8369;
    padding:10px 52px;
    margin:-40px;

}

.nav #recette{
    background-color: #BC8369;
    border-radius: 100px;
    padding: 10px 52px;
}


.nav #accueil{
    background-color: #9f4d28;
    border-radius: 47px;
    padding: 10px 52px;
}

header ul li{
    display: inline-block;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
}

footer{
    position:relative;
    bottom: 8px;
    left:8px;
}

.recette{
    width: 584px;
    margin-left: auto;
    margin-right: auto;
}

.recette img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    border-radius: 10px;
}

h1{
    display: block;
    font-family: 'Petit Formal Script', cursive;
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 100px;
    width: 584px;
    margin-left: auto;
    margin-right: auto;
}

table{
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
}

table caption{
    font-family: 'Petit Formal Script';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
}

table td{
    font-family: 'Inter';
    padding-left: 10px;
    padding-right: 10px;
    font-size: 20px;
    text-align: right;
}

table .jauge{
    align-items: center;
    display: flex;
    height: 20px;
    justify-content: flex-start;
    width: 200px;
    background-color: #D9D9D9;
    border-radius: 12px;
    border:1px solid black;
}

table .rectvert1{
    border-radius: 12px;
    width: 100px;
    height: 20px;
    background-color: #8C924F;
}

table .rectvert2{
    border-radius: 12px;
    width: 150px;
    height: 20px;
    background-color: #8C924F;
}

table .rectvert3{
    border-radius: 12px;
    width: 60px;
    height: 20px;
    background-color: #8C924F;
}

table ul,table tr{
    padding: 0px;
    margin: 0;
}

table ul{

}


.liresuite{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 11px;
    position: relative;
    align-items: center;
    width: 100%;
}

.recette p{
    width: fit-content;
    font-family: 'Inter';
    font-size: 20px;
}

.traitnoir{
    flex: 1;
    object-fit: cover;
    height: 0px;
    border: 1px solid #000000;
}