@import url('https://fonts.googleapis.com/css2?family=Inter&family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Petit+Formal+Script&display=swap');

body{
    width: 100%;
    margin: 0px;
}

body {
    background-image: url("./Images/background.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
  }



header {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    background-image: url("./Images/banniere.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 120px;
  }
  
.logo {
    position: relative;
    left: 30px;
    top: -5px;
    width: 100px;
    border-radius: 50px;
    z-index: 1;
    transform: rotate(23deg)
  }
  
.ellipse {
    position: relative;
    top: -10px;
    left: -40px;
    height: 120px;
    width: 150px;
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 50%;
    transform: rotate(-23deg);
  }
  
nav {
    padding-top: 15px;
  }
  
#liste {
    display: block;
    list-style-type: none;
    font-size: 20px;
    font-family: "Poppins", sans-serif;
    margin-right: 20px;
  }
  
#liste:hover .lielements {
    display: inline-block;
    margin-right: -40px;
  }
  
#liste .lielements:last-child {
    display: inline-block ;
    margin: 0px !important;
  
  }
  
#liste .lielements:last-child .liensListe {
    background: rgba(159, 77, 40, 1);
  }
  
.lielements {
    display: none;
  }
  
.liensListe {
    text-decoration: none;
    color: white;
    font-weight: bold;
    padding: 5px 42px;
    background: rgba(188, 131, 105, 0.9);
    border-radius: 20px;
  }
  
.translate {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
  }
  
.translate img {
    width: 30px;
    margin-right: 25px;
    background: white;
    border-radius: 5px;
  }

footer{
   position: relative;
   margin-left: 20px;
   margin-bottom: 20px;
}

.recette{
    width: 584px;
    margin-left: auto;
    margin-right: auto;
}

.recette img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    border-radius: 10px;
}

h1{
    display: block;
    font-family: 'Petit Formal Script', cursive;
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 100px;
    width: 584px;
    margin-left: auto;
    margin-right: auto;
}

table{
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
}

table caption{
    font-family: 'Petit Formal Script';
    font-style: normal;
    font-weight: 400;
    font-size: 2vmax;
    margin-bottom: 10px;
}

table td{
    font-family: 'Inter';
    padding-left: 10px;
    padding-right: 10px;
    font-size: 20px;
    text-align: right;
}

table .tablelist{
    padding-right: 40px;
}

table .jauge{
    align-items: center;
    display: flex;
    height: 20px;
    justify-content: flex-start;
    width: 200px;
    background-color: #D9D9D9;
    border-radius: 12px;
    border:1px solid black;
}

table .rectvert{
    border-radius: 12px;
    height: 20px;
    background-color: #8C924F;
}

table ul,table tr{
    padding: 0px;
    margin: 0;
    text-align: left;
}

.liresuite{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 40px;
}

.bande_liresuite{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
    position: relative;
    align-items: center;
    width: 100%;
    height:25px;
}

.liresuite .description{
    display: none;
    border-radius: 12px;
    background: rgba(188, 131, 105, 0.5);
    padding: 20px;
}

.liresuite:hover .description{
    display: inline;
}


.recette p{
    width: fit-content;
    font-family: 'Inter';
    font-size: 20px;
}

.traitnoir{
    flex: 1;
    object-fit: cover;
    height: 0px;
    border: 1px solid #000000;
}

@media only screen and (max-width: 780px)
and (orientation: portrait) {
    header {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        background-image: url("./Images/banniere.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        width: 100%;
        height: 140px;
    }

    .ellipse {
        position: relative;
        top: 5px;
        left: 5px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
    }

    #liste {
        display: flex;
        flex-direction: column-reverse;
        justify-content: space-around;
        padding: 0px;
        margin: 0px;
    }
    
    #liste .lielements, .lielements:last-child{
        display: flex !important;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        padding: 2px;
    }

    .logo {
        position: relative;
        left: 30px;
        top: -5px;
        width: 100px;
        border-radius: 50px;
        z-index: 1;
        transform: rotate(23deg)
      }

    .liensListe {
        width: 100px;
        padding: 5px;
        padding-left: 10px;
        padding-right: 10px;
        text-align: center;
        background: rgba(159, 77, 40, 1);
        font-size: 12px;
    }

    .translate {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: flex-start;
    }

    #liste:hover .lielements {
        display: inline-block;
        margin-right: -40px;
    }
    
    #liste:hover .lielements {
        display: inline-block;
        margin-right: 0px;
    }
    
    .translate img {
        width: 30px;
        margin-right: 5px;
        background: white;
        border-radius: 5px;
    }

    nav {
        padding-top: 0px;
        height: 120px;
    }

    h1{
        width: 100%;
        font-size: 2.5vmax;
        text-align: center;
    }

    .recette{
        width: 100%;
        margin-left: 0px;
        margin-right: 0px;
    }

    table{
        margin-top: 20px;
        margin-left: auto;
        margin-right: auto;
    }

    table caption{
        font-family: 'Petit Formal Script';
        font-style: normal;
        font-weight: 400;
        font-size: 2vmax;
        margin-bottom: 10px;
    }

    table td{
        font-family: 'Inter';
        padding-left: 10px;
        padding-right: 10px;
        font-size: 20px;
        text-align: right;
    }

    table .tablelist{
        padding-right: 0px;
    }

    table .jauge{
        align-items: center;
        display: flex;
        height: 20px;
        justify-content: flex-start;
        width: 2vmax;
        background-color: #D9D9D9;
        border-radius: 12px;
        border:1px solid black;
    }

    table .rectvert{
        border-radius: 12px;
        height: 20px;
        background-color: #8C924F;
    }

    table ul,table tr{
        padding: 0px;
        margin: 0;
        text-align: left;
    }

    .liresuite .description{
        display: inline;
    }
}